* {
  margin: 0;
  padding: 0;
}

.count {
  padding: 0.5px 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  user-select: none;
  align-content: center;
  text-align: center;
  min-width: 14px;
  font-size: 14px;
}

.cantidad {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #3d3d3d;
  padding-bottom: 18px;
}

.caja {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  width: 100%;
}

.size-box {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  background-color: #f8f8f8;
  transition: background-color 0.3s ease;
}

.size-box-add {
  margin-top: 15px;
  padding: 4px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  background-color: #f8f8f8;
  transition: background-color 0.12s ease, transform 0.12s ease;
}

.size-box-add:hover {
  background-color: #e0e0e0;
  transform: scale(1.02);
}

.size-box-add.disabled {
  background-color: rgb(185, 177, 177);
  color: red;
}


.custom-swal-popup {
  width: 400px;
  padding: 15px;
}

.custom-swal-title {
  font-size: 12px;
}

.custom-swal-content {
  font-size: 5px;
}

.titulo-count {
  font-size: 16px;
  color: #3d3d3dfc;
  font-weight: bolder;
}