.productdisplay {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 16px;
    margin: 0px 170px;
}

.productdisplay-left {
    grid-column: 1 / span 1; 
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: 1fr;
    gap: 8px; 
}

.productdisplay-left img {
    width: 100%; 
    height: auto; 
}

.productdisplay-main {
    grid-column: 2 / span 5; 
    display: flex;
    gap: 16px;
}

.productdisplay-main-img {
    width: 100%; 
    height: auto; 
}

.productdisplay-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: justify; 
}

.productdisplay-right h1 {
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 700;
}
