.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 70px;
    width: 45px;
    height: 45px;
    background-color: #b1745ab1;
    color: white;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
  }
  
  .scroll-to-top:hover {
    background-color: #c7c7c7;
  }
  